@import '../../styles/styles.scss';

.fav-btn {
  border: none;
  background: none;
  outline: none;
  font-size: 60px;
  font-weight: bold;
  color: $light-grey;
  line-height: 0;

  &:hover {
    cursor: pointer;
    color: $orange;
  }
}